In [1]:
#Date-10/31/22
#1-Create a dataframe of ten rows, four columns with random values. 
#Write a Pandas program to highlight the negative numbers red and positive numbers black
import pandas as pd
import numpy as np

np.random.seed(24)
df=pd.DataFrame({'A':np.linspace(1,10,10)})
df=pd.concat([df,pd.DataFrame(np.random.randn(10,4),columns=list('BCDE'))],axis=1)
print("Original array:")
print(df)

def color_neg_red(val):
    color='red' if val<0 else 'black'
    return 'color:%s' %color

print("\nNegative numbers red and positive numbers black:")
df.style.applymap(color_neg_red)

Original array:
      A         B         C         D         E
0   1.0  1.329212 -0.770033 -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011 -0.481165  0.850229
4   5.0  1.453425  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538  0.290720

Negative numbers red and positive numbers black:

In [4]:
#2-Write a Pandas program which will highlight the nan values
df.iloc[0, 2] = np.nan
df.iloc[3, 3] = np.nan
df.iloc[4, 1] = np.nan
df.iloc[9, 4] = np.nan

print("highlight null values in red")
df.style.highlight_null(null_color='red')

highlight null values in red

In [7]:
#3-Write a Pandas program to highlight the maximum value in each column
def highlight_max(s):
    '''
    highlight the maximum in a Series green.
    '''
    is_max = s == s.max()
    return ['background-color: green' if v else '' for v in is_max]

print("\nHighlight the maximum value in each column:")
df.style.apply(highlight_max,subset=pd.IndexSlice[:, ['B', 'C', 'D', 'E']])

Highlight the maximum value in each column:

In [9]:
#4- Write a Pandas program to highlight the minimum value in each column
def highlight_min(s):
    '''
    highlight the maximum in a Series green.
    '''
    is_max = s == s.min()
    return ['background-color: red' if v else '' for v in is_max]

print("\nHighlight the maximum value in each column:")
df.style.apply(highlight_min,subset=pd.IndexSlice[:, ['B', 'C', 'D', 'E']])

Highlight the maximum value in each column:

In [10]:
#5-Write a Pandas program to highlight the maximum value in last two columns
def highlight_max(s):
    '''
    highlight the maximum in a Series green.
    '''
    is_max = s == s.max()
    return ['background-color: green' if v else '' for v in is_max]

print("\nHighlight the maximum value in each column:")
df.style.apply(highlight_max,subset=pd.IndexSlice[:, ['B', 'C']])

Highlight the maximum value in each column:

In [11]:
#6-Write a Pandas program to set dataframe background Color black and font color yellow.
print("\nBackground:black - fontcolor:yelow")
df.style.set_properties(**{'background-color': 'black',
                           'color': 'yellow'})

Background:black - fontcolor:yelow

In [14]:
#7-highlight dataframe's specific columns
def highlight_cols(s):
    color='grey'
    return 'background-color: %s' %color
print("\nHighlight specific columns:")
df.style.applymap(highlight_cols,subset=pd.IndexSlice[:,['B','D']])

Highlight specific columns:

In [16]:
#8-highlight dataframe's specific columns with different colors
print("\nDifferent background color:")
coldict={'B':'red', 'D':'yellow'}

def highlight_cols(x):
    #copy df to new - original data are not changed
    df = x.copy()
    #select all values to default value - red color
    df.loc[:,:] = 'background-color: red'
    #overwrite values grey color
    df[['B','C', 'E']] = 'background-color: grey'
    #return color df
    return df    
df.style.apply(highlight_cols, axis=None)

Different background color:

In [17]:
#9-display the dataframe in table style